/* src/components/Header/Header.module.css */
.header {
    background-color: #1a1a1a; /* Tema escuro */
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
  }
  
  .logo {
    color: white; /* Texto branco */
    font-size: 1.5rem;
    margin: 0;
  }